.nav_bar
{
    margin-top:40px;
    font-family: 'Patrick Hand';
    font-size: 22px;
    color:white;
}
nav a
{
    text-decoration: none;
    letter-spacing: 1px;
    padding-left: 60px;
    color:white;
}
h2
{
    font-size: 32px;
    margin-right: 400px;
    margin-left:50px;
    letter-spacing: 2px;
    font-family: 'Patrick Hand';
    vertical-align: middle;
}
#aboutme
{
    background-image:url('/images/bg_front_gra.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#intro
{
    background-color: white;
    display: flex;
    flex-direction: row;
    background-size: contain;
    margin-top:50px;
    margin-left:20%;
    margin-right:20%;
    font-size: larger;
    padding-right: 2%;
    padding-left:3%;
    padding-top:2%;
    border-radius: 10px;  
    z-index: 100;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
p
{
    line-height: 25px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    text-align: justify;
}
#my_photo
{
    height:500px;
    margin-right:5%;
    width:450px;
    border-radius: 10px; 
    margin-bottom:2%; 
    z-index: 100;
}
#space img
{
    height:100px;
    width:100%;
    margin-top: -120px;
    z-index: -10;
    padding-bottom:0px
}
.icon i
{
    padding-left:10%;
    font-size:x-large;
}
.icon a
{
    color:black;
}
#codechef
{
    height:36px;
    vertical-align: bottom;
    margin-left:7%;
    margin-bottom: -4px;
}